* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: sans-serif;
  line-height: 1;
  color: #555;
  font-weight: 400;
}

.hero {
  max-width: 130rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 9.6rem;
  align-items: center;
  padding: 0 3.2rem;
}

.hero-headline {
  font-size: 4.8rem;
  margin-bottom: 3.2rem;
  color: #333;
  font-weight: 700;
  line-height: 1.05;
  letter-spacing: -0.5px;
}

.hero-description {
  font-size: 2rem;
  margin-bottom: 4.8rem;
  line-height: 1.6;
}

.hero-image {
  width: 100%;
}

.hero-section {
  background-color: #fdf2e9;
  padding: 4.8rem 0 9.6rem 0;
}

.btn:link,
.btn:visited {
  text-decoration: none;
  display: inline-block;
  font-size: 1.6rem;
  font-weight: 700;
  border-radius: 1.4rem;
  transition: all 0.3s;
  padding: 1.6rem 3.2rem;
  transition: background-color 0.3s, box-shadow 0.3s;
}

.cta-button {
  background-color: #e67e22;
  color: #fff;
  margin-right: 2.4rem;
}

.cta-link {
  background-color: #fff;
  color: #555;
}
.cta-button:hover,
.cta-button:active {
  background-color: #cf711f;
}

.cta-link:hover,
.cta-link:active {
  background-color: #fdf2e9;
  box-shadow: inset 0 0 0 3px white;
}

.delivery-summary {
  margin-top: 4.8rem;
  display: flex;
  gap: 4.8rem;
  align-items: center;
}

.delivered-users-info {
  display: flex;
  gap: 0.8rem;
}

.delivered-users-info img {
  width: 4.8rem;
  height: 4.8rem;
  border-radius: 50%;
  margin-right: -2rem;
  border: 2px solid #fdf2e9;
}

.delivered-summary-text {
  font-size: 1.8rem;
  font-weight: bold;
}

.delivered-summary-text span {
  font-size: 1.9rem;
  color: #cf711f;
}

.header {
  height: 9.6rem;
  background-color: #fdf2e9;
  padding: 0 3.2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-image {
  height: 4.8rem;
}

.main-nav {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.main-nav li a:link,
.main-nav li a:visited {
  text-decoration: none;
  font-size: 1.8rem;
  color: #555;
  padding: 0.8rem 1.6rem;
  transition: all 0.3s;
  font-weight: 600;
}

.main-nav li a:hover,
.main-nav li a:active {
  color: #cf711f;
}

.btn.nav-cta-button:link,
.btn.nav-cta-button:visited {
  background-color: #e67e22;
  color: #fff;
}

.btn.nav-cta-button:hover,
.btn.nav-cta-button:active {
  background-color: #cf711f;
}
