* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5;
}

body {
  font-family: sans-serif;
  line-height: 1;
  color: #555;
  font-weight: 400;
}

.hero {
  max-width: 100rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.hero-text {
  background-color: #f4f4f4;
}

.hero-image {
  width: 100%;
}
